<header>
  <div class="header">
    <button class="header__button">
      <i class="fas fa-bars"></i>
    </button>
    <span class="header__title">Beer catalog</span>
    <button class="header__button">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  </div>

</header>


