@import "../../sass/variables";
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  background: $color-main;

  font-family: 'Fjalla One', sans-serif;

  &__title {
    margin-right: auto;
    color: $color-white;
    font-size: 23px;
  }
  &__button {
    background: transparent;
    border: none;
    text-decoration: none;
    color: $color-white;
    font-size: 18px;
  }
}
