<div class="single-item">
  <a href="#" class="single-item__link">
    <div class="single-item__link_picture"></div>
  </a>
  <div class="single-item__title">
    <a href="#" class="single-item__title_products-name">HOEGAARDEN</a>
    <p class="single-item__title_description">Unfiltered Belgian White, flavored with coriander and orange peel,
      creating a sweet & sour taste.</p>
  </div>
  <div class="single-item__btns">
    <a href="" class="single-item__btns_open"></a>
    <a href="" class="single-item__btns_favor"></a>
  </div>
</div>
