@import "../../sass/variables";
@import "../../sass/mixins";

.single-item {
  width: 300px;
  height: 500px;
  &__link {
    &_picture {

      width: 300px;
      height: 300px;

      background: url("../img/beer-picture.png");
      background-size: cover;
    }
  }
  &__title_products-name{

  }
}
