@import "../../sass/variables";
.side-menu{
  float:left;
  display: flex;
  flex-direction: column;

  width: 15%;
  height: 100vh;
  font-family: 'Fjalla One', sans-serif;

  &__header {
    height: 150px;
    background: $color-main;
    &-item{
      color: $color-white;
      font-size: 23px;
    }
  }
  &__nav {
    background: $color-white;
    flex-grow: 1;
    a {
      display: block;
    }
    i {
      margin: 20px 30px;
    }
  }

}


