<aside class="side-menu">
  <header class="side-menu__header">
    <span class="side-menu__header-item">Beer catalog</span>
  </header>
  <nav class="side-menu__nav">
    <a href="#"><i class="fas fa-home"></i>HOME</a>
    <a href="#"><i class="fas fa-star"></i>FAVORITE</a>
  </nav>
</aside>
